# documentation
build/
_build/
_images/
_templates/
_toc.yml
docBin/
_doxygen/

# copied documentation
docs/ROCgdb/

# misc
.vscode/
_readthedocs/html/ROCgdb/gas/doc/as/Bss.html
/_readthedocs/html
/_readthedocs/html/ROCgdb
